@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(.8); }
  100% { transform: scale(1); }
}

.dot {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

.dot-1 { animation-delay: .1s; }
.dot-2 { animation-delay: .2s; }
.dot-3 { animation-delay: .3s; }
.dot-4 { animation-delay: .4s; }
.dot-5 { animation-delay: .5s; }
.dot-6 { animation-delay: .6s; }
.dot-7 { animation-delay: .7s; }
.dot-8 { animation-delay: .8s; }
.dot-9 { animation-delay: .1s; }
