@keyframes beat {
  from {
    transform: scale(1);
    opacity: .6;
  }
  to {
    transform: scale(.8);
    opacity: .3;
  }
}

.dot {  
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  animation-name: beat;
  opacity: .0;
}

.dot-1 { animation-delay: .05s; }
.dot-2 { animation-delay: .1s; }
.dot-3 { animation-delay: .15s; }
.dot-4 { animation-delay: .2s; }
.dot-5 { animation-delay: .25s; }
.dot-6 { animation-delay: .3s; }
.dot-7 { animation-delay: .35s; }
.dot-8 { animation-delay: .4s; }
.dot-9 { animation-delay: .45s; }
